<% content_for :css_page do %>
    <%= stylesheet_link_tag 'spree/frontend/animate.css' %>
    <%= stylesheet_link_tag 'spree/frontend/theme.css' %>
<% end %>


<div class="col-lg-12"><div style="padding-bottom:10px;"><a href="/">Home</a> <i>/&nbsp;</i>  <span>Products</span></div></div>
	<div class="col-lg-3">
    	<div style="border:1px solid #ccc; margin-bottom:15px; border-radius:4px; position:relative; padding:10px;">
        	<h6 style="color:#000;">
            Sort by
            <span style="display:block; font-size:18px;">Popularity</span>	
            </h6>
        	<i class="glyphicon glyphicon-menu-down" style="position:absolute; right:10px; top:30px;"></i>
        </div>
    	
    
    
    	<div style="position: relative; padding: 10px; border:1px solid #ccc; margin-bottom:15px; border-radius:4px;">
		<h4 style="color:#000;">Price Range</h4>
        <p>Choose a Price range to search in</p>
    <div>
        <input type="text" id="range" value="" name="range" />
    </div>

</div>

    	
    
    </div>
    <div class="col-lg-9">
    	<div class="row">
            <% @products.each do |product| %>
                <div class="col-lg-4">
       
                                <div class="thumbnail no-border no-padding">
                                    <div class="media">
                                        <a class="media-link" data-gal="prettyPhoto" href="/products/<%= product.id %>" style="height:197px; padding-top:4%;">
                                            <%= medium_image(product) %>
                                            <span class="icon-view"><strong>Quick View</strong></span>
                                        </a>
                                    </div>
                                    <div class="caption text-center">
                                        <h4 class="caption-title"><a href="#"><%= product.name %></a></h4>
                                        <div class="rating">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                        </div>
                                        <div class="price"><hr><ins>&#8377; <%= product.price %></ins> </div>
                          <div class="buttons">
                                            <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="glyphicon glyphicon-heart"></i></a><!--
                                            --><a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#">
                                            Out Of Stock</a><!--
                                            --><a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="glyphicon glyphicon-signal"></i></a>
                                        </div>
                                    </div>
                                </div>
                       </div>
            <% end %>
        </div>
        <% if @products.respond_to?(:num_pages) %>
            <%= paginate @products, theme: 'twitter-bootstrap-3' %>
        <% end %>
    </div>
    
   
<div class="clearfix"></div>

<% content_for :js_page do %>
    <%= javascript_include_tag 'spree/frontend/ion.rangeSlider.js'%>

<script>

    $(function () {

        $("#range").ionRangeSlider({
            hide_min_max: true,
            keyboard: true,
            min: 0,
            max: 5000,
            from: 1000,
            to: 4000,
            type: 'double',
            step: 1,
            prefix: "&#8377;",
            grid: true
        });

    });
</script>

<% end %>