	<div class="col-lg-12" >
    	<div style="border:1px solid #e6e6e6; overflow:hidden; padding:10px;">
       <div style="border-bottom:1px solid #e6e6e6; margin-bottom:15px;">
        <div class="col-lg-4"><h4  style="font-size:24px;">Ruby on Rails Bag</h4></div>
        <div class="col-lg-4">
        	<h6 style="font-size:15px;">
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i style="color:#ccc;" class="glyphicon glyphicon-star"></i> <b style="color:#ccc;">|</b> <span>1 Reviews</span></h6>
        </div>
        <div class="col-lg-4  text-right">
        	<a href="#" style="margin:0px 15px; font-size:15px; line-height:37px;"><i class="glyphicon glyphicon-menu-left" style="font-size:14px;"></i>Previous</a>
            <a href="#" style="font-size:15px; line-height:37px;">Next<i class="glyphicon glyphicon-menu-right"  style="font-size:14px;"></i></a>
        </div>
       
        <div class="clearfix"></div>
    	 </div>
        <div class="col-lg-4">
			<div class="ui-nav" style="border:1px solid #f6f6f6;">
								<!-- Tab Content -->
								<!-- Big images -->
								<div class="tab-content">
									<div id="ui-img-1" class="tab-pane active"><%= large_image(@product, class: 'img-responsive') %></div>
									<div id="ui-img-2" class="tab-pane"><%= image_tag 'spree/img/ui-16/big/2.jpg', class: 'img-responsive' %></div>
									<div id="ui-img-3" class="tab-pane"><%= image_tag 'spree/img/ui-16/big/3.jpg', class: 'img-responsive' %></div>
                                    <div id="ui-img-4" class="tab-pane"><%= image_tag 'spree/img/ui-16/big/3.jpg', class: 'img-responsive' %></div>
								</div>
								<!-- Small images -->
								<ul class="nav nav-tabs">
									<li class="active"><a data-toggle="tab" href="#ui-img-1" aria-expanded="false" style="padding:0px;"><%= image_tag 'spree/img/ui-16/small/1.jpg', class: 'img-responsive p-slide' %></a></li>
									<li class=""><a data-toggle="tab" href="#ui-img-2" aria-expanded="false" style="padding:0px;"><%= image_tag 'spree/img/ui-16/small/2.jpg', class: 'img-responsive p-slide' %></a></li>
									<li class=""><a data-toggle="tab" href="#ui-img-3" aria-expanded="true" style="padding:0px;"><%= image_tag 'spree/img/ui-16/small/3.jpg', class: 'img-responsive p-slide' %></a></li>
                                    <li class=""><a data-toggle="tab" href="#ui-img-4" aria-expanded="true" style="padding:0px;"><%= image_tag 'spree/img/ui-16/small/4.jpg', class: 'img-responsive p-slide' %></a></li>
                                    
								</ul>
							</div>        
        </div>
        
        
        <div class="col-lg-8">
        
        	<div class="col-lg-6 row">
            <div class="pd-dt1">
            	<p><span>&#8377; 500</span> &#8377; 90.00</p>
                <p><label>Availability: <span>In stock</span></label></p>
            </div>
            </div>
            <div class="col-lg-6 row pull-right">
            <div class="pd-dt2 pull-right">
            <p><b>QTY:</b><i class="glyphicon glyphicon-menu-left"></i><input type="text" value="1"/><i class="glyphicon glyphicon-menu-right"></i>
            	<input type="button" value="Add to cart" class="addct">
            </p>
            </div>
            </div>
        
        
        <div class="clearfix"></div>
        	<div class="col-lg-12" style="border-top:1px dashed #e6e6e6;">
            <div  class="row">
            	<div class="col-lg-7 row">
                	<div class="compare">
                    	<i class="glyphicon glyphicon-heart"></i><span>Add to wishlist</span>
                        <i class="glyphicon glyphicon-refresh"></i><span>Add to Compare</span> 
                    </div>
                </div>
                
                <div class="col-lg-5 row pull-right">
                	<div style="margin-top:15px;"><%= image_tag 'spree/frontend/social.jpg' %></div>
                	
                </div>
            
            </div></div>
        
         <div class="clearfix"></div>
        	<div class="ui-product row" style="border:1px solid #e6e6e6;">
						<!-- Nav Tabs -->
						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#product-description" aria-expanded="true">Description</a></li>  
							<li class=""><a data-toggle="tab" href="#product-review" aria-expanded="false">Reviews</a></li>
						</ul>
						<!-- Tab panes -->
						<div class="tab-content">
							<div id="product-description" class="tab-pane active" role="tabpanel">
								<div class="row">
									<div class="col-md-3 col-sm-4">
										<h5 style="color:#f05179; padding-left:10px;">Features</h5>
										<ul class="list-unstyled">
											<li> &nbsp; Storage - 10GB</li>
											<li> &nbsp; Bandwidth - 12GB</li>
											<li> &nbsp; Email Id - 15</li>
											<li> &nbsp; Support - 10</li>
											<li> &nbsp; Capacity - 14GB</li>
											<li> &nbsp; Bandwidth - 15GB</li>
											<li> &nbsp; Email Id - 18</li>
											<li> &nbsp; Support - 20</li>
											<li> &nbsp; Storage - 10GB</li>
											<li> &nbsp; Bandwidth - 12GB</li>
										</ul>
									</div>
									<div class="col-md-9 col-sm-8">
										<!-- Heading -->
										<h4 style="color:#f05179;">Design fashion glitterati wearing Navy</h4>
										<!-- Pargraph -->
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae luctus urna. Nunc sed lectus dapibus dolor maximus rhoncus sed ut est. Quisque viverra velit id ornare imperdiet. Ut semper tortor enim, eu aliquam nunc cursus sed. Integer aliquet lobortis metus sit amet sodales. Aenean id ipsum est. Curabitur vel orci ac odio efficitur interdum vitae et odio. Morbi tellus erat, vehicula sit amet quam sed, volutpat tristique turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tempus ultricies fringilla. Maecenas tempus sagittis purus et pellentesque. Quisque sit amet mi suscipit, est. <br>
										Nunc quis enim in enim congue tempus et quis risus. Etiam id tellus leo. Vivamus iaculis egestas lacinia. Morbi consectetur lacus in metus fringilla, eget consequat mauris commodo. Nam quis tortor et turpis imperdiet ultricies eu vehicula nibh. Nunc porttitor dignissim maximus. Mauris felis felis, egestas et risus at, imperdiet placerat leo. Suspendisse eu consequat nibh, fringilla commodo felis. Donec id volutpat sem. Sed euismod tincidunt aliquet.</p>
										
									</div>
								</div>
								
								
							</div>
							<div id="product-review" class="tab-pane" role="tabpanel">
								<!-- Review item starts -->
								<div class="review-item">
									<div class="row">
										<div class="col-md-3 col-sm-4">
											<!-- Name -->
											<h6><a href="#">Ab Develiers - <span class="lblue">4/5</span></a></h6>
											<!-- Date -->
											<div class="date">12 - Nov - 2014</div>
										</div>
										<div class="col-md-9 col-sm-8">
											<!-- Review heading -->
											<h5>Awesome Buy for Economical Price</h5>
											<!-- Paragraph -->
											<p>Be the fashion glitterati wearing navy blue coloured jeans by Lee. These regular-fit jeans is made using strech denim that makes it a perfect fit Be the fashion glitterati wearing navy blue coloured jeans by Lee. These regular-fit jeans is made using strech denim that makes it a perfect fit.</p>
										</div>
									</div>
								</div>
								<!-- Review item ends -->
								<div class="review-item">
									<div class="row">
										<div class="col-md-3 col-sm-4">
											<h6><a href="#">Grame Smith - <span class="lblue">5/6</span></a></h6>
											<div class="date">18 - NOv - 2014</div>
										</div>
										<div class="col-md-9 col-sm-8">
											<h5>Best Product with such configuration at Affordable Price</h5>
											<p>Be the fashion glitterati wearing navy blue coloured jeans by Lee. These regular-fit jeans is made using strech denim that makes it a perfect fit Be the fashion glitterati wearing navy blue coloured jeans by Lee. These regular-fit jeans is made using strech denim that makes it a perfect fit.</p>
											<p>Be the fashion glitterati wearing navy blue coloured jeans by Lee. These regular-fit jeans is made using strech denim that makes it a perfect fit Be the fashion glitterati wearing navy blue coloured jeans by Lee. These regular-fit jeans is made using strech denim that makes it a perfect fit.</p>
										</div>
									</div>
								</div>
								
								<div class="review-item">
									<div class="row">
										<div class="col-md-3 col-sm-4">
											<h6><a href="#">Polard - <span class="lblue">6/7</span></a></h6>
											<div class="date">15 - NOv - 2014</div>
										</div>
										<div class="col-md-9 col-sm-8">
											<h5>Best Product with such configuration at Affordable Price</h5>
											<p>Be the fashion glitterati wearing navy blue coloured jeans by Lee. These regular-fit jeans is made using strech denim that makes it a perfect fit Be the fashion glitterati wearing navy blue coloured jeans by Lee. These regular-fit jeans is made using strech denim that makes it a perfect fit.</p>
										</div>
									</div>
								</div>
								
								
								
								<!-- Review Form -->
								
							</div>
						</div>
					</div>
        
        
        </div>
    
    
    
    </div>
    </div>
   
<div class="clearfix"></div>
<div class="col-lg-12">
<div id="carousel-example" class="carousel slide " data-ride="carousel" style="background:#fff; border-top:4px solid #1896ca; margin-top:20px;">
    <span style="color:#414141; font-size:24px; padding:14px 10px; float:left;">RELATED PRODUCTS</span>
   
             <div class="controls pull-right hidden-xs" style="padding:10px;">
                   	
                     <a class="left glyphicon glyphicon-menu-left " href="#carousel-example" data-slide="prev" ></a>
                     <a class="right glyphicon glyphicon-menu-right  " href="#carousel-example" data-slide="next" ></a>
                </div>
                 <hr style="display:block; clear:both; margin:0px;">
            <div class="clearfix"></div>
            
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo" style="padding-top:25px;">
                                    <%= image_tag 'spree/frontend/img1.jpg' , class: 'img-responsive' %>
                                </div>
                                <div class="info">
                                    
                                        <div class="price " style="color:#000; padding-left:0px;">
                                            <h5 style="font-size:15px;">Ut enim ad minim sit amet grouped</h5>
                                           <h6>
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star" style="color:#ccc;"></i> <b style="color:#ccc;">|</b> <span>1 Reviews</span></h6>
                                            
                                           <div class="price-box">
                           <span class="price price-old" style="font-size:15px;">&#8377; 40</span><span class="price" style="font-size:19px;">&#8377; 29</span>
                        </div> 
                                            
                                     
                                        
                                    </div>
                                    
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo" style="padding-top:25px;">
                                    <%= image_tag 'spree/frontend/img2.jpg' , class: 'img-responsive' %>
                                </div>
                                <div class="info">
                                    
                                        <div class="price " style="color:#000; padding-left:0px;">
                                            <h5 style="font-size:15px;">Ut enim ad minim sit amet grouped</h5>
                                           <h6>
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star" style="color:#ccc;"></i> <b style="color:#ccc;">|</b> <span>1 Reviews</span></h6>
                                            
                                           <div class="price-box">
                          <span class="price price-old" style="font-size:15px;">&#8377; 40</span><span class="price" style="font-size:19px;">&#8377; 29</span>
                        </div> 
                                            
                                     
                                        
                                    </div>
                                    
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo" style="padding-top:25px;">
                                    <%= image_tag 'spree/frontend/img3.jpg' , class: 'img-responsive' %>
                                </div>
                                <div class="info">
                                    
                                        <div class="price " style="color:#000; padding-left:0px;">
                                            <h5 style="font-size:15px;">Ut enim ad minim sit amet grouped</h5>
                                           <h6>
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star" style="color:#ccc;"></i> <b style="color:#ccc;">|</b> <span>1 Reviews</span></h6>
                                            
                                           <div class="price-box">
                           <span class="price price-old" style="font-size:15px;">&#8377; 40</span><span class="price" style="font-size:19px;">&#8377; 29</span>
                        </div> 
                                            
                                     
                                        
                                    </div>
                                    
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item b-left">
                                <div class="photo" style="padding-top:25px;">
                                    <%= image_tag 'spree/frontend/img4.jpg' , class: 'img-responsive' %>
                                </div>
                                <div class="info">
                                    
                                        <div class="price " style="color:#000; padding-left:0px;">
                                            <h5 style="font-size:15px;">Ut enim ad minim sit amet grouped</h5>
                                           <h6>
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star" style="color:#ccc;"></i> <b style="color:#ccc;">|</b> <span>1 Reviews</span></h6>
                                            
                                           <div class="price-box">
                          <span class="price price-old" style="font-size:15px;">&#8377; 40</span><span class="price" style="font-size:19px;">&#8377; 29</span>
                        </div> 
                                            
                                     
                                        
                                    </div>
                                    
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                         <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo" style="padding-top:25px;">
                                    <%= image_tag 'spree/frontend/img1.jpg' , class: 'img-responsive' %>
                                </div>
                                <div class="info">
                                    
                                        <div class="price " style="color:#000; padding-left:0px;">
                                            <h5 style="font-size:15px;">Ut enim ad minim sit amet grouped</h5>
                                           <h6>
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star" style="color:#ccc;"></i> <b style="color:#ccc;">|</b> <span>1 Reviews</span></h6>
                                            
                                           <div class="price-box">
                          <span class="price price-old" style="font-size:15px;">&#8377; 40</span><span class="price" style="font-size:19px;">&#8377; 29</span>
                        </div> 
                                            
                                     
                                        
                                    </div>
                                    
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo" style="padding-top:25px;">
                                    <%= image_tag 'spree/frontend/img2.jpg' , class: 'img-responsive' %>
                                </div>
                                <div class="info">
                                    
                                        <div class="price " style="color:#000; padding-left:0px;">
                                            <h5 style="font-size:15px;">Ut enim ad minim sit amet grouped</h5>
                                           <h6>
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star" style="color:#ccc;"></i> <b style="color:#ccc;">|</b> <span>1 Reviews</span></h6>
                                            
                                           <div class="price-box">
                           <span class="price price-old" style="font-size:15px;">&#8377; 40</span><span class="price" style="font-size:19px;">&#8377; 29</span>
                        </div> 
                                            
                                     
                                        
                                    </div>
                                    
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo" style="padding-top:25px;">
                                    <%= image_tag 'spree/frontend/img3.jpg' , class: 'img-responsive' %>
                                </div>
                                <div class="info">
                                    
                                        <div class="price " style="color:#000; padding-left:0px;">
                                            <h5 style="font-size:15px;">Ut enim ad minim sit amet grouped</h5>
                                           <h6>
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star" style="color:#ccc;"></i> <b style="color:#ccc;">|</b> <span>1 Reviews</span></h6>
                                            
                                           <div class="price-box">
                           <span class="price price-old" style="font-size:15px;">&#8377; 40</span><span class="price" style="font-size:19px;">&#8377; 29</span>
                        </div> 
                                            
                                     
                                        
                                    </div>
                                    
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item b-left">
                                <div class="photo" style="padding-top:25px;">
                                    <%= image_tag 'spree/frontend/img4.jpg' , class: 'img-responsive' %>
                                </div>
                                <div class="info">
                                    
                                        <div class="price " style="color:#000; padding-left:0px;">
                                            <h5 style="font-size:15px;">Ut enim ad minim sit amet grouped</h5>
                                           <h6>
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star" style="color:#ccc;"></i> <b style="color:#ccc;">|</b> <span>1 Reviews</span></h6>
                                            
                                           <div class="price-box">
                          <span class="price price-old" style="font-size:15px;">&#8377; 40</span><span class="price" style="font-size:19px;">&#8377; 29</span>
                        </div> 
                                            
                                     
                                        
                                    </div>
                                    
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>



</div>