<div class="col-lg-3 rs-pad2">
    	
        	<h3 style="margin:0 0 13px; text-transform:uppercase; font-size:20px;">Popular Products</h3>
            <div class="bx1"><i><%= image_tag 'spree/frontend/nav1.png' %></i>
            	<span>Spree Bag </span>
                <label><b class="glyphicon glyphicon-star"></b> 
                <b class="glyphicon glyphicon-star"></b> 
                <b class="glyphicon glyphicon-star"></b>
                <b class="glyphicon glyphicon-star"></b>
                <b class="glyphicon glyphicon-star" style="opacity:0.5;"></b>
                </label>
                <span style="margin-top:0px;"><b>&#8377; 22.99</b></span>
                
            
            </div>
            <div class="bx1 bx2"><i><%= image_tag 'spree/frontend/nav2.png' %></i>
            <span>Spree Bag </span>
                <label><b class="glyphicon glyphicon-star"></b> 
                <b class="glyphicon glyphicon-star"></b> 
                <b class="glyphicon glyphicon-star"></b>
                <b class="glyphicon glyphicon-star"></b>
                <b class="glyphicon glyphicon-star" style="opacity:0.5;"></b>
                </label>
                <span style="margin-top:0px;"><b>&#8377;  22.99</b></span>
            
            </div>
            <div class="bx1 bx3"><i><%= image_tag 'spree/frontend/nav3.png' %></i>
            <span>Spree Bag </span>
                <label><b class="glyphicon glyphicon-star"></b> 
                <b class="glyphicon glyphicon-star"></b> 
                <b class="glyphicon glyphicon-star"></b>
                <b class="glyphicon glyphicon-star"></b>
                <b class="glyphicon glyphicon-star" style="opacity:0.5;"></b>
                </label>
                <span style="margin-top:0px;"><b>&#8377; 22.99</b></span>
            
            </div>
            <div class="bx1 bx4"><i><%= image_tag 'spree/frontend/nav4.png' %></i>
            
            <span>Spree Bag </span>
                <label><b class="glyphicon glyphicon-star"></b> 
                <b class="glyphicon glyphicon-star"></b> 
                <b class="glyphicon glyphicon-star"></b>
                <b class="glyphicon glyphicon-star"></b>
                <b class="glyphicon glyphicon-star" style="opacity:0.5;"></b>
                </label>
                <span style="margin-top:0px;"><b>&#8377; 22.99</b></span>
            
            </div>
            
        
       
    
    </div>
    
    <div class="col-lg-9">
    	<div class="row">
    	
 
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag 'spree/frontend/img_flower.jpg' %>
        <!-- <img src="images/img_flower.jpg" alt="Chania" height="390"> -->
        <div class="carousel-caption">
        <h3>All Toys @ <span>Discount</span> Upto <span style="color:#ff0000;">50%</span></h3>
        
      </div>
      </div>

      <div class="item">
        <%= image_tag 'spree/frontend/toy2.jpg' %>
        <!-- <img src="images/toy2.jpg" alt="Chania"  height="390"> -->
        <div class="carousel-caption">
        <h3>All Toys @ <span>Discount</span> Upto <span style="color:#ff0000;">70%</span></h3>
        
      </div>
      </div>
    
      <div class="item">
        <%= image_tag 'spree/frontend/img_flower.jpg' %>
        <!-- <img src="images/img_flower.jpg" alt="Flower"  height="390"> -->
        <div class="carousel-caption">
        <h3>All Toys @ <span>Discount</span> Upto <span style="color:#ff0000;">30%</span></h3>
        
      </div>
      </div>

      <div class="item">
        <%= image_tag 'spree/frontend/img_flower.jpg' %>
        <!-- <img src="images/img_flower.jpg" alt="Flower"  height="390"> -->
        <div class="carousel-caption">
        <h3>All Toys @ <span>Discount</span> Upto <span style="color:#ff0000;">80%</span></h3>
        
      </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true" style="background:#ec4757;   top: 50%; padding:10px;"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-menu-right" aria-hidden="true" style="background:#ec4757;   top: 50%; padding:10px;"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
        
        
        
      
	</div>
<% content_for :prefooter do %>
<div class="container-fluid rs-pad1" style="background:#f9f9f9;">
  <div class="container rs-pad" >
      
    <ul class="nav nav-tabs responsive" id="myTab" style="border-top:4px solid #f05179; background:#fdfdfd; ">
    <label class="alp-tx">All Products</label>
  <li  style="float:right; border-left:1px solid #ccc; border-top:4px solid #1fb257; margin-top:-4px;"><a href="#home" style="font-size:20px; color:#000;">Toys</a></li>
  <li style="float:right; border-left:1px solid #ccc; border-top:4px solid #f97f22; margin-top:-4px;"><a href="#profile" style="font-size:20px; color:#000;">Products</a></li>
 
</ul>

<div class="tab-content responsive">
  <div class="tab-pane active" id="home">
    <div style="background:#fff; overflow:hidden; margin-bottom:10px;"> 
        <div class="col-lg-6"> 
          <div class="col-lg-12 row">
              <div class="row" style="padding-top:25px;">
                <div class="col-lg-6"><%= image_tag 'spree/frontend/product1.jpg' %></div>
                    <div class="col-lg-6">
                      <h3>Dorala corporis suscipit demo3 04</h3>
                        <p><i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star" style="color:#ccc;"></i> <b style="color:#ccc;">|</b> <span>1 Reviews</span></p>
                        
                        
                        <p style="font-size:15px; padding-top:10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut<a href="#"> Learn more</a></p>
                        <div class="price-box">
                          <span class="price price-old">&#8377; 40</span><span class="price">&#8377; 29</span>
                        </div>
                        <button aria-expanded="false" aria-haspopup="true"  class="btn btn-primary dropdown-toggle" type="button" style="background:#f05179; border:1px solid #f05179; font-size:20px; padding:7px 25px; margin:15px 0px;">Add to Cart</button>
                    </div>
                    
            </div>
            
            </div>
        
        </div>
            
            <div class="col-lg-6 nww"> 
            <div class="row">
                <div class="products">
                      <a href="javascript:next()" class="a-left glyphicon glyphicon-menu-left"> </a> <a href="javascript:next()" class="a-right glyphicon glyphicon-menu-right"> </a>
                        
                        <div class="pdrs" id="111">
                            <% @products.limit(6).each do |product| %>
                                <div class="pdr">
                                      <i><%= small_image(product) %></i>
                                        <span><%= product.name %>
                                        <br>
                                        <b class="glyphicon glyphicon-star f-l"></b> <b class="glyphicon glyphicon-star f-l"></b> <b class="glyphicon glyphicon-star f-l"></b> 
                                        <b class="glyphicon glyphicon-star f-l"></b> <b class="glyphicon glyphicon-star f-l" style="color:#ccc;"></b> 
                                        
                                        </span>
                                        <label class="price price-old" style="font-size:14px;">&#8377; 40</label><label class="price" style="font-size:18px;">&#8377; <%= product.price %></label>
                                </div>
                            <% end %>  
                        </div>
                        
                        
                        
                        <div class="pdrs" id="222">
                          
                              <div class="pdr">
                                  <i><%= image_tag 'spree/frontend/t-shirt.jpg' %></i>
                                    <span>Dorala corporis suscipit demo3 04
                                    <br>
                                    <b class="glyphicon glyphicon-star f-l"></b> <b class="glyphicon glyphicon-star f-l"></b> <b class="glyphicon glyphicon-star f-l"></b> 
                                    <b class="glyphicon glyphicon-star f-l"></b> <b class="glyphicon glyphicon-star f-l" style="color:#ccc;"></b> 
                                    
                                    </span>
                                    <label class="price price-old" style="font-size:14px;">&#8377; 40</label><label class="price" style="font-size:18px;">&#8377; 29</label>
                                    
                                
                                </div>
                                
                                <div class="pdr">
                                    <i><%= image_tag 'spree/frontend/t-shirt.jpg' %></i>
                                    <span>Dorala corporis suscipit demo3 04
                                    <br>
                                    <b class="glyphicon glyphicon-star f-l"></b> <b class="glyphicon glyphicon-star f-l"></b> <b class="glyphicon glyphicon-star f-l"></b> 
                                    <b class="glyphicon glyphicon-star f-l"></b> <b class="glyphicon glyphicon-star f-l" style="color:#ccc;"></b> 
                                    
                                    </span>
                                    <label class="price price-old" style="font-size:14px;">&#8377; 40</label><label class="price" style="font-size:18px;">&#8377; 29</label>
                                
                                </div>
                                
                                
                                <div class="pdr">
                                  <i><%= image_tag 'spree/frontend/t-shirt.jpg' %></i>
                                    <span>Dorala corporis suscipit demo3 04
                                    <br>
                                    <b class="glyphicon glyphicon-star f-l"></b> <b class="glyphicon glyphicon-star f-l"></b> <b class="glyphicon glyphicon-star f-l"></b> 
                                    <b class="glyphicon glyphicon-star f-l"></b> <b class="glyphicon glyphicon-star f-l" style="color:#ccc;"></b> 
                                    
                                    </span>
                                    <label class="price price-old" style="font-size:14px;">&#8377; 40</label><label class="price" style="font-size:18px;">&#8377; 29</label>
                                    
                                
                                </div>
                                
                                <div class="pdr" >
                                    <i><%= image_tag 'spree/frontend/t-shirt.jpg' %></i>
                                    <span>Dorala corporis suscipit demo3 04
                                    <br>
                                    <b class="glyphicon glyphicon-star f-l"></b> <b class="glyphicon glyphicon-star f-l"></b> <b class="glyphicon glyphicon-star f-l"></b> 
                                    <b class="glyphicon glyphicon-star f-l"></b> <b class="glyphicon glyphicon-star f-l" style="color:#ccc;"></b> 
                                    
                                    </span>
                                    <label class="price price-old" style="font-size:14px;">&#8377; 40</label><label class="price" style="font-size:18px;">&#8377; 29</label>
                                
                                </div>
                                
                                
                                <div class="pdr">
                                  <i><%= image_tag 'spree/frontend/t-shirt.jpg' %></i>
                                    <span>Dorala corporis suscipit demo3 04
                                    <br>
                                    <b class="glyphicon glyphicon-star f-l"></b> <b class="glyphicon glyphicon-star f-l"></b> <b class="glyphicon glyphicon-star f-l"></b> 
                                    <b class="glyphicon glyphicon-star f-l"></b> <b class="glyphicon glyphicon-star f-l" style="color:#ccc;"></b> 
                                    
                                    </span>
                                    <label class="price price-old" style="font-size:14px;">&#8377; 40</label><label class="price" style="font-size:18px;">&#8377; 29</label>
                                    
                                
                                </div>
                                
                                
                               </div>
                        
                        
                        
                        
                        
                        
                    </div>
            
            
            
            
            </div>
    </div>
  
  </div></div>
  <div class="tab-pane" id="profile">
    <h1>Coming Soon</h1>
  
  </div>
 



   
    
        
            
            
    
    
    </div>




  <div id="carousel-example" class="carousel slide " data-ride="carousel" style="background:#fff; border-top:4px solid #414141;">
    <span style="color:#414141; font-size:24px; padding:14px 10px; float:left;">NEW ARRIVALS</span>
   
             <div class="controls pull-right hidden-xs" style="padding:10px;">
                    
                     <a class="left glyphicon glyphicon-menu-left " href="#carousel-example" data-slide="prev" ></a>
                     <a class="right glyphicon glyphicon-menu-right  " href="#carousel-example" data-slide="next" ></a>
                </div>
                 <hr style="display:block; clear:both; margin:0px;">
            <div class="clearfix"></div>
            
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo" style="padding-top:25px;">
                                    <%= image_tag 'spree/frontend/img1.jpg', class: 'img-responsive' %>
                                </div>
                                <div class="info">
                                    
                                        <div class="price " style="color:#000; padding-left:0px;">
                                            <h5 style="font-size:15px;">Ut enim ad minim sit amet grouped</h5>
                                           <h6>
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star" style="color:#ccc;"></i> <b style="color:#ccc;">|</b> <span>1 Reviews</span></h6>
                                            
                                           <div class="price-box">
                           <span class="price price-old" style="font-size:15px;">&#8377; 40</span><span class="price" style="font-size:19px;">&#8377; 29</span>
                        </div> 
                                            
                                     
                                        
                                    </div>
                                    
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo" style="padding-top:25px;">
                                    <%= image_tag 'spree/frontend/img2.jpg', class: 'img-responsive' %>
                                </div>
                                <div class="info">
                                    
                                        <div class="price " style="color:#000; padding-left:0px;">
                                            <h5 style="font-size:15px;">Ut enim ad minim sit amet grouped</h5>
                                           <h6>
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star" style="color:#ccc;"></i> <b style="color:#ccc;">|</b> <span>1 Reviews</span></h6>
                                            
                                           <div class="price-box">
                          <span class="price price-old" style="font-size:15px;">&#8377; 40</span><span class="price" style="font-size:19px;">&#8377; 29</span>
                        </div> 
                                            
                                     
                                        
                                    </div>
                                    
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo" style="padding-top:25px;">
                                    <%= image_tag 'spree/frontend/img3.jpg', class: 'img-responsive' %>
                                </div>
                                <div class="info">
                                    
                                        <div class="price " style="color:#000; padding-left:0px;">
                                            <h5 style="font-size:15px;">Ut enim ad minim sit amet grouped</h5>
                                           <h6>
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star" style="color:#ccc;"></i> <b style="color:#ccc;">|</b> <span>1 Reviews</span></h6>
                                            
                                           <div class="price-box">
                           <span class="price price-old" style="font-size:15px;">&#8377; 40</span><span class="price" style="font-size:19px;">&#8377; 29</span>
                        </div> 
                                            
                                     
                                        
                                    </div>
                                    
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item b-left">
                                <div class="photo" style="padding-top:25px;">
                                    <%= image_tag 'spree/frontend/img4.jpg', class: 'img-responsive' %>
                                </div>
                                <div class="info">
                                    
                                        <div class="price " style="color:#000; padding-left:0px;">
                                            <h5 style="font-size:15px;">Ut enim ad minim sit amet grouped</h5>
                                           <h6>
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star" style="color:#ccc;"></i> <b style="color:#ccc;">|</b> <span>1 Reviews</span></h6>
                                            
                                           <div class="price-box">
                          <span class="price price-old" style="font-size:15px;">&#8377; 40</span><span class="price" style="font-size:19px;">&#8377; 29</span>
                        </div> 
                                            
                                     
                                        
                                    </div>
                                    
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                         <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo" style="padding-top:25px;">
                                    <%= image_tag 'spree/frontend/img1.jpg', class: 'img-responsive' %>
                                </div>
                                <div class="info">
                                    
                                        <div class="price " style="color:#000; padding-left:0px;">
                                            <h5 style="font-size:15px;">Ut enim ad minim sit amet grouped</h5>
                                           <h6>
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star" style="color:#ccc;"></i> <b style="color:#ccc;">|</b> <span>1 Reviews</span></h6>
                                            
                                           <div class="price-box">
                          <span class="price price-old" style="font-size:15px;">&#8377; 40</span><span class="price" style="font-size:19px;">&#8377; 29</span>
                        </div> 
                                            
                                     
                                        
                                    </div>
                                    
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo" style="padding-top:25px;">
                                    <%= image_tag 'spree/frontend/img2.jpg', class: 'img-responsive' %>
                                </div>
                                <div class="info">
                                    
                                        <div class="price " style="color:#000; padding-left:0px;">
                                            <h5 style="font-size:15px;">Ut enim ad minim sit amet grouped</h5>
                                           <h6>
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star" style="color:#ccc;"></i> <b style="color:#ccc;">|</b> <span>1 Reviews</span></h6>
                                            
                                           <div class="price-box">
                           <span class="price price-old" style="font-size:15px;">&#8377; 40</span><span class="price" style="font-size:19px;">&#8377; 29</span>
                        </div> 
                                            
                                     
                                        
                                    </div>
                                    
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo" style="padding-top:25px;">
                                    <%= image_tag 'spree/frontend/img3.jpg', class: 'img-responsive' %>
                                </div>
                                <div class="info">
                                    
                                        <div class="price " style="color:#000; padding-left:0px;">
                                            <h5 style="font-size:15px;">Ut enim ad minim sit amet grouped</h5>
                                           <h6>
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star" style="color:#ccc;"></i> <b style="color:#ccc;">|</b> <span>1 Reviews</span></h6>
                                            
                                           <div class="price-box">
                           <span class="price price-old" style="font-size:15px;">&#8377; 40</span><span class="price" style="font-size:19px;">&#8377; 29</span>
                        </div> 
                                            
                                     
                                        
                                    </div>
                                    
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item b-left" >
                                <div class="photo" style="padding-top:25px;">
                                    <%= image_tag 'spree/frontend/img4.jpg', class: 'img-responsive' %>
                                </div>
                                <div class="info">
                                    
                                        <div class="price " style="color:#000; padding-left:0px;">
                                            <h5 style="font-size:15px;">Ut enim ad minim sit amet grouped</h5>
                                           <h6>
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star"></i> 
                                           <i class="glyphicon glyphicon-star" style="color:#ccc;"></i> <b style="color:#ccc;">|</b> <span>1 Reviews</span></h6>
                                            
                                           <div class="price-box">
                          <span class="price price-old" style="font-size:15px;">&#8377; 40</span><span class="price" style="font-size:19px;">&#8377; 29</span>
                        </div> 
                                            
                                     
                                        
                                    </div>
                                    
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>





</div></div>
  
<% end %> 